<h1>Listing logs</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Task</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Note</th>
      <th>Activity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.project %></td>
        <td><%= log.task %></td>
        <td><%= log.start_time %></td>
        <td><%= log.end_time %></td>
        <td><%= log.note %></td>
        <td><%= log.activity %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
