<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @log.project %>
</p>

<p>
  <strong>Task:</strong>
  <%= @log.task %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @log.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @log.end_time %>
</p>

<p>
  <strong>Note:</strong>
  <%= @log.note %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @log.activity %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
